<div class="intro deep-orange lighten-2 ">

<h1>Tous les utilisateurs</h1>

<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>
</div>
>>>>>>> presentation_page
