<div id="intro" class="section scrollspy">
    <div class="container">
        <div class="row">
            <div  class="col s12">
              <table class="profile" summary="Information profil">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.login %>
      </h1>

    </td>
    <td class="sidebar round">
      <strong>login</strong> <%= @user.login %><br />
      <strong>URL</strong>  <%= link_to user_path(@user), @user %>
    </td>
  </tr>
</table>
            </div>
        </div>
    </div>
</div>
