<div class="container">
<h3><span class="span_h3 brown-text"><%=@title%></span></h3>
<div class="collection">
    <a href="#!" class="collection-item orange-text text-darken-1">Ajouter une bière</a>
    <a href="#!" class="collection-item orange-text text-darken-1">Gérer les requètes de nouvelles bières<span class="new badge">4</span></a>
    <a href="#!" class="collection-item orange-text text-darken-1">Editer une bière</a>
</div>
