<div class = "backgroundJaune test">
<div class="intro deep-orange lighten-2">
<section>
<h1>Aide</h1>
<p>
  Obtenez de l'aide sur le Tutoriel Ruby on Rails Tutorial sur la
  <a href="http://railstutorial.org/help">page d'aide du Tutoriel Rails</a>.
  Pour obtenir de l'aide sur cette application exemple, consultez le
  <a href="http://railstutorial.org/book">livre du Tutoriel Rails</a>.
</p>
<p>
L'app ne marche pas ? No way ! Contactez-nous !
</p>
</section>
</div>
<div class="intro btnInscription backgroundJaune"></div>
</div>

