<div>
  <div class="parallax-container parallax-container-head">
    <div class="parallax"><img src="../images/beerbar.jpg"></div>
      <h1 class="text_h center header cd-headline letters type">
        <span> I love </span>
        <span class="cd-words-wrapper waiting">
          <b class="is-visible">Beer</b>
          <b>Collection</b>
          <b>Beer Collection !</b>
        </span>
      </h1>
  </div>

<!--Intro and service-->
<div id="intro" class="section scrollspy">
        <div class="row">
            <div  class="container center-align">
                <h4 class="center header text_h4">
                    <span class="span_h4 blue-text">Beer Collection</span>, la solution simple et
                    éfficace pour gérer votre collection de bières, les noter, invitez vos amis à en déguster,
                    trouvez les meilleurs bars à bières et dénicher de super bons plans !  </h2>
            </div>

            <div  class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <i class="large material-icons">thumb_up</i>


                    <h5 class="promo-caption">Gérez votre collection</h5>
                    <p class="light center">Avec Beer Collection, vous pouvez gérer votre collection de bière et donc garder une trace de celles que vous avez déjà goûtées‡ !</p>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="center promo promo-example">
                      <i class="large material-icons">stay_current_portrait</i>

                    <h5 class="promo-caption">Scannez vos bières ! </h5>
                    <p class="light center">Chaque fois que vous buvez une bière nouvelle ou éventuellement une que vous connaissez déjà, sortez l'application, scannez l'étiquette de la bouteille et c'est parti ! </p>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="center promo promo-example">
                     <i class="large material-icons">stars</i>
                    <h5 class="promo-caption">Notez les bières ! </h5>
                    <p class="light center">Attribuez une note à la bière si vous ne l'aviez jamais bue ainsi qu'un petit commentaire, et participez à un classement mondial et participatif des bières de la planète ! </p>
                </div>
            </div>
        </div>
    </div>

<!--Work-->
<div class="parallax-container">
    <div class="parallax"><img src="../images/oldbeerbar.jpg"></div>
</div>
<div class="section scrollspy" id="work">
    <div class="container">
        <h2 class="header text_b">Ce que permet l'application ! </h2>
        <div class="row">
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../images/project1.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Découvrez des bières<i class="mdi-navigation-more-vert right"></i></span>

                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Le choix est immense ! <i class="mdi-navigation-close right"></i></span>
                        <p>
                          Tout le monde a déjà vécu l'expérience de l'hésitation devant une belle carte bien remplie d'un bon bar à bière. <br/>
                          N'ayez plus peur d'être déçu par un nom qui vous est inconnu, sortez BeerCollection de votre poche et consultez la fiche
                          de la bière qui vous tentais pour prendre la bonne décision.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../images/project2.jpeg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Collectionnez<i class="mdi-navigation-more-vert right"></i></span>

                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">La Quête de la Bière<i class="mdi-navigation-close right"></i></span>
                        <p>
                          Des milliers de goûts et de saveurs différentes n'attendent que vous.<br/>
                          Commencez votre collection dès aujourd'hui, débutez la quête ultime de goûter toutes les bières présentes dans le catalogue !
                          Ajoutez chaque bière que vous boirez à votre collection, gagner des badges et des récompenses selon votre progression
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../images/project3.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Commentez et Notez<i class="mdi-navigation-more-vert right"></i></span>

                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Soyez Zythologue<i class="mdi-navigation-close right"></i></span>
                        <p>
                          Pour chaque bière présente dans votre collection, attribuez une note et un commentaire.<br/>
                          Cette note participera à l'établissement d'un classement sur l'ensembe des bières, vous pourrez ainsi
                          découvrir quelle Blonde Forte vaut le coup d'être goutée, ou encore quelle fruitée est désignée top du top
                          par la communauté !
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../images/project4.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Scanner de Bière<i class="mdi-navigation-more-vert right"></i></span>

                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Le BeerScan<i class="mdi-navigation-close right"></i></span>
                        <p>
                          L'équipe de BeerCollection a mis au point une fonctionnalité de Scan, qui vous permet à tout instant
                          lors d'une dégustation de sortir votre téléphone, de scanner l'étiquette et d'en recevoir toutes les informations,
                          notes des utilisateurs et encore bien plus.<br/>
                          La bière scannée n'est pas dans notre base de donnée? Pas de soucis, jouez un rôle dans l'établissement du plus gros
                          catalogue de bières en l'ajoutant !
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../images/project5.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">BeerMap<i class="mdi-navigation-more-vert right"></i></span>

                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">BeerMap<i class="mdi-navigation-close right"></i></span>
                        <p>
                          BeerMap est l'outil de géolocalisation et de contact de BeerCollection.
                        </p>
                        <p>
                          Avec BeerMap, vous pouvez dénicher les bons bars à bières qui vous entourent et ne pas chercher plus
                          longtemps le bon endroit où aller vous faire plaisir !
                        </p>
                        <p>
                          De plus, sur cette carte se trouveront vos amis connecté à l'application.
                          S'ils sont dans un rayon proche du vôtre, vous pourrez même les contacter via l'application
                          pour leur proposer d'aller boire une bière !
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../images/project6.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Bons Plans<i class="mdi-navigation-more-vert right"></i></span>

                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Bons Plans<i class="mdi-navigation-close right"></i></span>
                        <p>
                          Collectionner les bières n'est certainement pas le hobby le moins cher. <br/>
                          Cela dit, notre équipe travaille activement pour vous dénicher les meilleurs plans bières que ce soit dans les magasins
                          spécialisés, chez les brasseurs ou dans les bars !
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

  <!--Parallax-->
  <div class="parallax-container">
    <div class="parallax"><img src="../images/beerfoam.jpg"></div>
  </div>
</div>
