# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 4768aa9ee173e5ee0addbd78f5ac8de1001d2927072f30dd17b043eb3b808d58e2f7fb806e90af43c49674befcdbf41ac0f558ffb0d7ebee56677d093f3860a9

test:
  secret_key_base: 099c7718a56a0763b0f1f5c6504d62fe0d5078dea7b7721d815ba0ec3b90ae389b1e6d0f2e269241be2e95e7a31ad9f505b41255a883dc8d3e1d3ad1eaaf92b3

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
