<footer class="page-footer orange darken-3">
  <div class="footer-copyright ">
    <div class="container">
      
        <div class="row">
            
            <div class="col s12 m6 l0 footer-copyright colFooter">
                © 2015 Copyright BeerCollection
            </div>
            
            <div class="col s12 m6 l0 colFooter">
                <a href="<%= contact_path %>" class="waves-effect orange accent-2 lighten-1 waves-light btn"><i class="material-icons right">mail</i>Contact</a>
            </div>
            
       
      </div>
    </div>
  </div>
</footer>



