<footer class="page-footer blue">
    <div class="container">
        <div class="col l6 s12">
            <div class="row">
                <div class="col s6">
                    <h5 class="white-text">© 2015 Copyright BeerCollection ma Biche</h5>
                </div>
                <div class="col s6">
                    <h5><%= link_to "Contactez-nous !", contact_path %></h5>
                </div>
            </div>
        </div>
    </div>
</footer>
