<footer class="page-footer orange darken-3">
  <div class="footer-copyright ">
    <div class="container">

        <div class="row">

            <div class="col s12 m6 l0 footer-copyright colFooter">
                © 2015 Copyright BeerCollection
            </div>

            <div class="col s12 m6 l0 colFooter">
                <a href="<%= contact_path %>" class="waves-effect orange accent-2 lighten-1 waves-light btn"><i class="material-icons right">mail</i>Contact</a>
            </div>
            <% if signed_in? && current_user.admin? %>
            <div class="fixed-action-btn horizontal click-to-toggle" style="bottom: 45px; right: 24px;">
              <a class="btn-floating btn-large orange">
                <i class="large mdi-navigation-menu"></i>
              </a>
              <ul>
                <li><a class="btn-floating orange" href="<%= handle_users_path %>"><i class="material-icons">supervisor_account</i></a></li>
                <li><a class="btn-floating orange" href="<%= admin_beers_path %>"><i class="material-icons">input</i></a></li>
              </ul>
            </div>
            <% end %>
            <div class="col s6 m2 l2"><p></p></div>
        </div>
      </div>
    </div>
  </div>
</footer>
